// .login {
//   display: flex;
//   flex-direction: column;
//   margin: 0 auto;
//   padding: 2rem 0;
// }

.login {
  background-color: #f9f8f9;
  height: 100vh;
  .login-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16%;
    .login-form {
      max-width: 250px !important;
      flex-shrink: 0;
      flex-grow: 2;
    }
  }
  h2 {
    margin: 0 !important;
    text-align: center;
    font-weight: 700 !important;
  }
  .login-link {
    text-align: center;
    display: block;
  }
  .github-link {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: rgba(0, 0, 0, 0.65);
  }
  .landing-background {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
